# Modifiqued by Basilio
PFRealEstate/__pycache__/
PFRealEstate/core_app/migrations/__pycache__/
PFRealEstate/owner_app/__pycache__/
PFRealEstate/owner_app/migrations/__pycache__/
PFRealEstate/property_app/migrations/__pycache__/
PFRealEstate/user_agent_app/migrations/__pycache__/