{% load static %}
<head>
 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

            <title>
                {% block title %}GARO ESTATE | 404 page{% endblock %}
            </title>

        <meta name="description" content="company is a real-estate template">
        <meta name="author" content="Kimarotec of template">
        <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
{#        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">#}
{#        <link rel="icon" href="favicon.ico" type="image/x-icon">#}

        <!-- Heare I have change static links-->
        <link rel="stylesheet" href="{% static "assets/css/normalize.css" %}">
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

{#        <link rel="stylesheet" href="assets/css/normalize.css">#}
{#        <link rel="stylesheet" href="assets/css/font-awesome.min.css">#}
        <link rel="stylesheet" href="{% static 'assets/css/fontello.css' %}">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet">
        <link href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}" rel="stylesheet">
        <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css'%} %">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    </head>