
<!-- Aqui estoy incluiendo la plantilla base que incluie hedar, nav, footer-->
{% include 'base.html' %}


{% block content %}
    <div class="container">
    <div>{{ user }} - pk: {{ request.user.pk }}</div>


{% for property in properties %}
<div style="display: flex" >
    <ul>
        <li>{{ property.operation }}</li>
        <li>{{ property.type }}</li>
        <li>{{ property.state }}</li>
        <li>{{ property.title }}</li>
        <li>{{ property.price }}</li>
        <li>{{ property.address }}</li>
        <li>{{ property.created_date }}</li>
        <li>{{ property.modified_date }}</li>
        <li>{{ property.slug }}</li>
        {% for image in images %}

            {% if image.to_property_id == property.pk %}
                    {% if image.filename %}
                        <img style="width: 200px" src="{{ image.filename.url }}" alt="{{ image.filename }}">
                 {% endif %}
            {% endif %}

        {% endfor %}
    </ul>
</div>
{% endfor %}
    </div>
{% endblock %}
