<!doctype html>
<html lang="EN-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% include 'nav.html' %}
<h3>Details of property</h3>
<div>Operation: {{ property_detail.operation }}</div>
<div>Title: {{ property_detail.title }}</div>
<div>Type: {{ property_detail.type }}</div>
<div>State: {{ property_detail.state }}</div>
<div>Price: {{ property_detail.price }}</div>
<div>Address: {{ property_detail.address }}</div>
<div>Owner name: {{ property_detail.owner }}</div>
<div>Agent Name: {{ property_detail.user_agent }}</div>
<div>Date Created: {{ property_detail.created_date }}</div>
<div>Date Modifiquet:{{ property_detail.modified_date }}</div>
<div>Slug: {{ property_detail.slug }}</div>

<h3>Images of property</h3>

{%  for image in images %}
     <img style="width: 200px" src="{{ image.filename.url }}">
{% endfor %}
<div>
    <a href="{% url 'update property' property_detail.slug %}">Edit Property</a>
    <a href="{% url 'delete property' property_detail.slug %}">Delete Property</a>
</div>


</body>
</html>